#pay img{width:78px}
#minipay{background:#019cde}
#pay img{width:95px;margin:11px}
.zoom{-webkit-transition:all .4s ease;transition:all .4s ease}.zoom:hover{-webkit-transform:scale(1.2);transform:scale(1.2)}
